//colors
$body_color: #F2F3F6;
$color_kimberly_approx: #7171ad;
$white: #fff;
$color_carnation_approx: #f56060;
$black_20: rgba(0,0,0,0.2);
$color_cerulean_approx: #02beee;
$color_royal_heath_approx: #b71273;
$color_tulip_tree_approx: #ebbc43;
$color_atlantis_approx: #95d140;
$color_cranberry_approx: #db4d79;
$color_orange_approx: #f56b24;
$color_forest_green_approx: #218d12;
$color_driftwood_approx: #af8350;

//urls
$url_0: url(assets/img/backdrop.svg);
$url_1: url(assets/img/clock-active.png);
$url_2: url(assets/img/file.png);
$url_3: url(assets/img/share.png);
$url_4: url(assets/img/license.png);
$url_5: url(assets/img/bag.png);
$url_6: url(assets/img/users.png);
$url_7: url(assets/img/more.png);
$url_8: url(assets/img/more-active.png);

//mixin
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin nav-arrow($size, $color){
	border-top: 0;
	border-right: $size solid transparent;
	border-bottom: $size solid $color;
	border-left: $size solid transparent;
}

@mixin card-bg($bg){
	background-color: $bg;
	border-color: $bg;
}

@mixin bg-image($url, $x, $y, $size){
	background: $url no-repeat $x $y;
	background-size: $size;
}