@import "font";
@import "customvariables";
body{
	background-color: $body_color;
}
.bg-vat {
	@include bg-image($url_0, right, bottom, cover);
}
.btn-vat {
	background-color: $color_kimberly_approx;
	color: $white;
	font-size: 18px;
}
.container {
	h2 {
		font-size: 30px;
	}
}
.navbar-expand-md {
	@include box-shadow(0, 5px, 10px, $black_20);
	.bottom-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
.nav-item{
	&.active{
		font-weight: 500;
	}
}
.top-nav {
	font-size: 18px;
	.dropdown-item {
		font-size: 14px;
		font-weight: 100;
	}
}
.bottom-nav {
	font-size: 14px;
	.dropdown-item {
		font-size: 12px;
		font-weight: 100;
	}
}
.dropdown-menu::before {
	content: "";
	border-style: solid;
	border-width: 10px;
	width: 0;
	height: 0;
	position: absolute;
	top: -10%;
	left: 40%;
	@include nav-arrow(.5em, $white);
}
.dropdown-toggle::after {
	content: '\f078';
	font: 12px FontAwesome;
	vertical-align: 0.1em;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
}
.breadcrumb {
	padding: 0;
	background-color: transparent;
	font-size: 13px;
}
.breadcrumb-item {
	a {
		color: $color_carnation_approx;
	}
	+ .breadcrumb-item::before {
		content: "|";
	}
}
.card {
	
	@include box-shadow(0, 6px, 10px, $black_20);
	transition: 0.3s;
	&:hover {
		@include box-shadow(0, 10px, 16px, $black_20);
	}
	&.active {
		background-image: linear-gradient(to bottom right, $color_cerulean_approx, $color_royal_heath_approx);
		@include box-shadow(0, 10px, 16px, $black_20);
		color: $white;
		.card-img {
			border-color: $white;
			background-color: transparent;
		}
	}
	&.vol .card-img {
		@include card-bg($color_kimberly_approx);
	}
	&.yel .card-img {
		@include card-bg($color_tulip_tree_approx);
	}
	&.lim .card-img {
		@include card-bg($color_atlantis_approx);
	}
	&.pink .card-img {
		@include card-bg($color_cranberry_approx);
	}
	&.org .card-img {
		@include card-bg($color_orange_approx);
	}
	&.gre .card-img {
		@include card-bg($color_forest_green_approx);
	}
	&.bro .card-img {
		@include card-bg($color_driftwood_approx);
	}
}
.card-body {
	position: relative;
	overflow: hidden;
	h1 {
		font-weight: 400;
		font-size: 40px;
	}
}
.card-img {
	width: 35%;
	border: 1px solid;
	@include  border-radius(50%);
	padding: 15px;
	float: left;
	img {
		width: 100%;
	}
}
.body-text {
	clear: both;
	font-size: 16px;
}
.card-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 35%;
	height: 65px;
	@include rotate (-40);
	&.clock {
		@include bg-image($url_1, right, bottom, cover);
		@include rotate (-120);
		bottom: -5%;
		right: -5%;
	}
	&.file {
		@include bg-image($url_2, right, bottom, cover);
	}
	&.share {
		@include bg-image($url_3, right, bottom, cover);
	}
	&.license {
		@include bg-image($url_4, right, bottom, cover);
		@include rotate (40);
	}
	&.bag {
		@include bg-image($url_5, right, bottom, cover);
	}
	&.users {
		@include bg-image($url_6, right, bottom, cover);
	}
}
.btn-more {
	@include bg-image($url_7, center, center, cover);
	border-color: transparent;
}
.active {
	.btn-more {
		@include bg-image($url_8, center, center, cover);
		border-color: transparent;
	}
}

@media(max-width: 991px) {
	.pdt-md-4 {
		padding-top: 1.5rem !important;
	}
	.card-img {
		width: 25%;
	}
	.form-group.flex-wrap .btn {
		width: 250px;
	}
	.mdt-md-4 {
		margin-top: 1.5rem !important;
	}
}
@media(max-width: 767px) {
	.pdt-sm-4 {
		padding-top: 1.5rem !important;
	}
	.card-icon {
		bottom: -5%;
		&.clock {
			bottom: -15%;
			right: -15%;
		}
	}
	.dropdown-menu::before {
		top: 32%;
	}
}