@font-face {
  font-family: "HelveticaNeue";
  src: url('assets/font/HelveticaNeueLight.ttf');
  font-weight: 100;
}
@font-face {
	font-family: "HelveticaNeue";
	src: url('assets/font/HelveticaNeue.ttf');
	font-weight: 400;
}
@font-face {
	font-family: "HelveticaNeue";
	src: url('assets/font/HelveticaNeueBold.ttf');
	font-weight: 500;
}

$base-font: HelveticaNeue;

html, body {
	font-family: $base-font;
}