<div>
    <button mat-raised-button color="primary" (click)="run()" [disabled]="loaderService.showLoader">
        Click HERE
    </button>
    <div>
        <pre>{{ response | json }}</pre>
        <div *ngIf="loaderService.showLoader" class="loader"></div>
    </div>
</div>