
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <td>
  <div formArrayName="cities">
    <div *ngFor="let city of cities.controls; let i=index">
      <select [formControlName]="i">
        <option *ngFor="let reporte of reportes" [value]='reporte'>
          {{ itemname }}
        </option>
      </select>
    </div>
  </div>
</td>
  <br>
  <button (click)="addCity()">+</button>
</form>
<br>

