		.breadcrumb {
			padding: 0;
			background-color: transparent;
			font-size: 13px;
		}
		.breadcrumb-item+.breadcrumb-item::before {
			content: "|";
		}
		.breadcrumb-item a {
			color: #F65555;
		}