		.card-header {
			background-color: #7171AD;
			color: #fff;
			border-bottom: none;
		}
		.card-disabled .card-header {
			background-color: #B0B0B4;
		}
		.card-header h5 {
			font-size: 17px;
			margin: 0;
		}
		.card-header h4 {
			font-size: 20px;
		}
		.card-body p {
			font-size: 20px;
		}
		.card-disabled .card-body p {
			font-size: 16px;
			color: #666;
		}
		.card-body a {
			color: #59598F;
			text-decoration: underline;
		}
		.card-lable {
			font-size: 15px;
			color:#666;
		}
		.card-text {
			font-size: 15px !important;
			font-weight: 600;
		}
		.card-link:hover, .card-link {
			color: #fff;
			text-decoration: none;
		}
		.card-link i:before {
			content: "\e905";
		}
		.card-link.collapsed i:before {
			content: "\e906";
		}
		.card-bg-row {
			background-color: #F2F2FC;
			border-bottom: 2px solid #fff;
		}
		.card-body.d-table {
			border-collapse: collapse;
		}