		.form-control {
			border-radius: unset;
			border-color: #D0D0E6;
		}
		.form-group p, .form-group a {
			font-size: 14px;
		}
		.input-group-append .btn {
			padding: 0 .5rem;
			background-color: transparent;
			border-color: #ced4da;
			border-radius: unset;
			border-left: 1px solid #fff;
		}
		.custom-checkbox .custom-control-label::before, .custom-checkbox .custom-control-label::after {
			top: 0.45rem;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: transparent;
			border: 1px solid #59598F;
		}
		.custom-checkbox .custom-control-label::before {
			border-radius: unset;
			background-color: transparent;
			border: 1px solid #707070;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
			background-image: url(../img/checked.svg);
			background-size: .8rem;
		}
		.custom-control-input:focus~.custom-control-label::before {
			box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(113, 113, 173, 0.55);
		}
		.custom-radio .custom-control-label::before {
			border: 1px solid #D0D0E6;
			background-color: transparent;
		}
		.custom-radio .custom-control-input:checked~.custom-control-label::before {
			background-color: transparent;
		}
		.custom-radio .custom-control-label::after {
			background-image: url('../img/radio.svg');
		}
		.custom-radio .custom-control-input:checked~.custom-control-label::after {
			background-image: url('../img/radio_active.svg');
		}
		.custom-radio .custom-control-label {
			font-size: 17px;
			font-weight: 700;
		}
		.total-label {
			font-size: 13px;
		}
		form label {
			font-size: 20px;
		}
		select {
			-moz-appearance:none;
			-webkit-appearance:none;
			appearance:none;
			background: url(assets/img/down-arrow.svg) no-repeat;
			background-position: calc(100% - 10px);
			background-size: 1rem;
		}
		@media (max-width: 991px){
			.form-group.flex-wrap .btn {
				width: 250px;
			}
		}