@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?lakllx');
  src:  url('../font/icomoon.eot?lakllx#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?lakllx') format('truetype'),
    url('../font/icomoon.woff?lakllx') format('woff'),
    url('../font/icomoon.svg?lakllx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar [class^="icon-"]:before, .navbar [class*=" icon-"]:before{
  padding: 0 5px;
}

.icon-close:before {
  content: "\e91a";
}
.icon-show:before {
  content: "\e919";
}
.icon-logout:before {
  content: "\e91b";
}
.icon-information:before {
  content: "\e91c";
}
.icon-forms:before {
  content: "\e900";
}
.icon-key:before {
  content: "\e901";
}
.icon-edit_profile:before {
  content: "\e902";
}
.icon-help-button:before {
  content: "\e903";
}
.icon-hide:before {
  content: "\e904";
}
.icon-substract:before {
  content: "\e905";
}
.icon-add:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-portfolio:before {
  content: "\e908";
}
.icon-tick:before {
  content: "\e909";
}
.icon-view:before {
  content: "\e90a";
  font-size: 25px;
}
.icon-refresh:before {
  content: "\e90b";
}
.icon-add-tax:before {
  content: "\e90c";
}
.icon-recycling-bin:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-users:before {
  content: "\e911";
}
.icon-settings:before {
  content: "\e912";
}
.icon-tax:before {
  content: "\e913";
}
.icon-dashboard:before {
  content: "\e914";
}
.icon-link:before {
  content: "\e915";
}
.icon-down-arrow:before {
  content: "\e916";
}
.icon-more:before {
  content: "\e917";
}
.icon-tab-act-up-arrow:before {
  content: "\e918";
}
.icon-tab-down-arrow:before {
  content: "\e919";
}
.icon-tab-up-arrow:before {
  content: "\e91a";
}
