.modal-content {
	border: none;
}
.modal-header {
	background-color: rgba(85, 85, 85, .5);
}
.modal-header .icon-close{
	color: #1E201D;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.modal-title {
	font-size: 17px;
	font-weight: 700;
	color: #fff;
}
