* {
    font-family: Helvetica Neue;
}
html, body{
    background-color: #F2F3F6;
    min-height: 100vh;
    position: relative;
    height: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.bg-sub {
    background-color: #F2F2FC;
    border: 1px solid #D0D0E6;
}
.container h2 {
    font-size: 30px;
}
.page-footer {
    background-color: #A7A7AF;
    font-size: 14px;
    color: #404041;
}
.indicate-row {
    width: 15%;
    white-space: nowrap;
}
.sub-h2, .list-inline-item {
    font-size: 14px;
}
.sub-no {
    font-size: 24px; 
}
.list-inline-item span {
    color: #7171AD;
}
.list-inline-item span i{
    font-size: 20px;
}
.list-inline-item:not(:first-child) {
    margin-left: .5rem;
}
.modal-tab, .modal-tab:hover {
    color: #262627;
    text-decoration: none;
    cursor: pointer;
}
.tab-pane a {
    font-size: 18px;
    font-weight: 600;
    color: #59598F;
    text-decoration: underline;
}

@media (max-width: 991px){
    .mdt-md-4 {
        margin-top: 1.5rem !important;
    }
    .mdt-md-2 {
        margin-top: .5rem !important;
    }
    .fixed-bottom {
        position: relative;
    }
}
@media (min-width: 768px) {
    .list-inline-item:after {
        content: '|';
        margin-left: 1rem;
        color: #D0D0E6;
    }
    .list-inline-item:last-child:after {
        content: '';
    }
}
