@font-face {
  font-family: "HelveticaNeue";
  src: url("../../assets/font/HelveticaNeueLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../../assets/font/HelveticaNeue.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../../assets/font/HelveticaNeueBold.ttf");
  font-weight: 500;
}



* {
    font-family: Helvetica Neue;
}
html, body{
    background-color: #F2F3F6;
    min-height: 100vh;
    position: relative;
    height: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.bg-sub {
    background-color: #F2F2FC;
    border: 1px solid #D0D0E6;
}
.container h2 {
    font-size: 30px;
}
.page-footer {
    background-color: #A7A7AF;
    font-size: 14px;
    color: #404041;
}
.indicate-row {
    width: 15%;
    white-space: nowrap;
}
.sub-h2, .list-inline-item {
    font-size: 14px;
}
.sub-no {
    font-size: 24px; 
}
.list-inline-item span {
    color: #7171AD;
}
.list-inline-item span i{
    font-size: 20px;
}
.list-inline-item:not(:first-child) {
    margin-left: .5rem;
}

@media (max-width: 991px){
    .mdt-md-4 {
        margin-top: 1.5rem !important;
    }
    .mdt-md-2 {
        margin-top: .5rem !important;
    }
    .fixed-bottom {
        position: relative;
    }
}
@media (min-width: 768px) {
    .list-inline-item:after {
        content: '|';
        margin-left: 1rem;
        color: #D0D0E6;
    }
    .list-inline-item:last-child:after {
        content: '';
    }
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/font/icomoon.eot');
    src:  url('../../assets/font/icomoon.eot') format('embedded-opentype'),
      url('../../assets/font/icomoon.ttf') format('truetype'),
      url('../../assets/font/icomoon.woff') format('woff'),
      url('../../assets/font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  [class^="icon-"], [class*=" icon-"], .icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .navbar [class^="icon-"]:before, .navbar [class*=" icon-"]:before{
    padding: 0 5px;
  }
  
  .icon-close:before {
    content: "\e91a";
  }
  .icon-show:before {
    content: "\e919";
  }
  .icon-logout:before {
    content: "\e91b";
  }
  .icon-information:before {
    content: "\e91c";
  }
  .icon-forms:before {
    content: "\e900";
  }
  .icon-key:before {
    content: "\e901";
  }
  .icon-edit_profile:before {
    content: "\e902";
  }
  .icon-help-button:before {
    content: "\e903";
  }
  .icon-hide:before {
    content: "\e904";
  }
  .icon-substract:before {
    content: "\e905";
  }
  .icon-add:before {
    content: "\e906";
  }
  .icon-user:before {
    content: "\e907";
  }
  .icon-portfolio:before {
    content: "\e908";
  }
  .icon-tick:before {
    content: "\e909";
  }
  .icon-view:before {
    content: "\e90a";
    font-size: 25px;
  }
  .icon-refresh:before {
    content: "\e90b";
  }
  .icon-add-tax:before {
    content: "\e90c";
  }
  .icon-recycling-bin:before {
    content: "\e90d";
  }
  .icon-edit:before {
    content: "\e90e";
  }
  .icon-filter:before {
    content: "\e90f";
  }
  .icon-search:before {
    content: "\e910";
  }
  .icon-users:before {
    content: "\e911";
  }
  .icon-settings:before {
    content: "\e912";
  }
  .icon-tax:before {
    content: "\e913";
  }
  .icon-dashboard:before {
    content: "\e914";
  }
  .icon-link:before {
    content: "\e915";
  }
  .icon-down-arrow:before {
    content: "\e916";
  }
  .icon-more:before {
    content: "\e917";
  }
  .icon-tab-act-up-arrow:before {
    content: "\e918";
  }
  .icon-tab-down-arrow:before {
    content: "\e919";
  }
  .icon-tab-up-arrow:before {
    content: "\e91a";
  }



  .modal-content {
	border: none;
}
.modal-header {
	background-color: rgba(85, 85, 85, .5);
}
.modal-header .icon-close{
	color: #1E201D;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.modal-title {
	font-size: 17px;
	font-weight: 700;
	color: #fff;
}



.form-control {
    border-radius: unset;
    border-color: #D0D0E6;
}
.form-group p, .form-group a {
    font-size: 14px;
}
.input-group-append .btn {
    padding: 0 .5rem;
    background-color: transparent;
    border-color: #ced4da;
    border-radius: unset;
    border-left: 1px solid #fff;
}
.custom-checkbox .custom-control-label::before, .custom-checkbox .custom-control-label::after {
    top: 0.45rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: transparent;
    border: 1px solid #59598F;
}
.custom-checkbox .custom-control-label::before {
    border-radius: unset;
    background-color: transparent;
    border: 1px solid #707070;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../../assets/img/checked.svg);
    background-size: .8rem;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(113, 113, 173, 0.55);
}
.custom-radio .custom-control-label::before {
    border: 1px solid #D0D0E6;
    background-color: transparent;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: transparent;
}
.custom-radio .custom-control-label::after {
    background-image: url('../../assets/img/radio.svg');
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../../assets/img/radio_active.svg');
}
.custom-radio .custom-control-label {
    font-size: 17px;
    font-weight: 700;
}
.total-label {
    font-size: 13px;
}
form label {
    font-size: 20px;
}
select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: url(../../assets/img/down-arrow.svg) no-repeat;
    background-position: calc(100% - 10px);
    background-size: 1rem;
}
@media (max-width: 991px){
    .form-group.flex-wrap .btn {
        width: 250px;
    }
}



.breadcrumb {
    padding: 0;
    background-color: transparent;
    font-size: 13px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "|";
}
.breadcrumb-item a {
    color: #F65555;
}


.btn {
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: unset;
}
.btn-vat {
    background-color: #7171AD;
    color: #fff;
    font-size: 18px;
}
.btn-vat-dark {
    background-color: #59598F;
    color: #fff;
    font-size: 18px;
}
.btn-upload-dark {
    background-color: #59598F;
    color: #fff;
    border-radius: 3px;
    font-weight: 100;
    padding-left: 1em;
    padding-right: 1em;
}
.btn-vat-light {
    background-color: #8E6BB5;
    color: #fff;
    font-size: 18px;
}
.btn-vat-switch {
    border: 1px solid #A657AA;
    background-color: transparent;
    font-size: 17px;
}
.btn-vat-switch.active {
    background-color: #A657AA;
    color: #fff;
    font-weight: 500;
}
.btn-vat-outline {
    border-color: #666;
    color: #666;
    background-color: transparent;
}
.btn-vat-green {
    border: 1px solid #157B0E;
    background-color: transparent;
    font-size: 17px;
    border-radius: .25rem
}
.btn-vat-green.active {
    background-color: #A1E047;
    color: #fff;
    font-weight: 500;
}
.btn-small {
    font-size: 14px;
    border-radius: 17px;
    padding: .25rem .75rem;
}
.btn-outline {
    border: 1px solid #7171AD;
    background-color: transparent;
    color: #7171AD;
    font-size: 14px;
}
.outline-dark {
    border-color: #262627;
    color: #262627;
}
.outline-vat {
    border-color: #59598F;
    color: #59598F;
}
.btn-search {
    background-color: #A657AA;
    color: #fff;
    padding: 0.4rem 0.6rem 0.3rem;
}
.btn-edit {
    padding: 0.4rem .6rem 0.3rem;
    margin-left: 1.5rem;
}
.btn-view {
    padding: 0.4rem 0.4rem 0rem;
    margin-left: 1.5rem;
}
.crd-hd-btn {
    background-color: transparent;
    border: 1px solid #F2F2FC;
    color: #F2F2FC;
    font-size: 14px;
    border-radius: 3px;
    padding: .3rem 1.75rem;
}

@media (max-width: 991px) {
    .form-group.flex-wrap .btn {
        width: 250px;
    }
}

.modal-content {
            border: none;
        }
        .modal-header {
            background-color: rgba(85, 85, 85, .5);
        }
        .modal-header .icon-close{
            color: #1E201D;
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }
        .modal-title {
            font-size: 17px;
            font-weight: 700;
            color: #fff;
        }
        




        .navbar-expand-md {
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
		}
		.navbar-expand-md .bottom-nav .nav-link {
			padding: 1rem 1rem 0 1rem;
		}
		.nav-item.active{
			font-weight: 500;
		}
		.top-nav {
			font-size: 18px;
		}
		.top-nav .dropdown-item {
			font-size: 14px;
			font-weight: 100;
		}
		.navbar-dark .navbar-nav.top-nav .nav-link {
			color: #fff;
		}
		.bottom-nav {
			font-size: 14px;
		}
		.bottom-nav .dropdown-item {
			font-size: 12px;
			font-weight: 100;
			padding: .25rem .75rem;
		}
		.dropdown-menu::before {
			content:"";
			border-style:solid;
			border-width:10px;
			width:0;
			height:0;
			position:absolute;
			top:-10%;
			left: 40%;
			border-top: 0;
			border-right: .5em solid transparent;
			border-bottom: .5em solid #fff;
			border-left: .5em solid transparent;
		}
		.dropdown-toggle::after {
			content: '\e916';
			font: 12px 'icomoon';
			vertical-align: 0;
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
		}
		.nav-side .navbar-light .navbar-nav .nav-link {
			color: #262627;
		}
		.nav-side .navbar-light .navbar-nav .nav-item.active {
			background-color: #7171AD;
		}
		.nav-side .navbar-light .nav-item.active .nav-link {
			color: #fff;
			font-weight: 400;
		}
		.bottom-nav .dropdown-item.active, .bottom-nav .dropdown-item:active, .bottom-nav .dropdown-item:hover {
			background-color: #02BEEE;
			color: #fff;
		}
		@media (max-width: 767px){
			.nav-side {
				height: 0px;
			}
        }
        


        .vat-progress {
			height: 2px;
			background-color: #D0D0E6;
		}
		.vat-progress-bar {
			border: 3px solid #59598F;
		}
		.progress-group {
			border-bottom: 1px solid #F1F2F6;
		}
		.progress-title {
			font-size: 15px;
			font-weight: 600;
			color: #59598F;
		}
		.progress-value {
			font-size: 18px;
			font-weight: 400;
			color: #666;
			padding-bottom: .5rem;
		}
		.progress-value .currency {
			font-size: 25px;
			color: #157B0E;
			padding-right: .5rem;
        }
                  
          html, body {
            font-family: "HelveticaNeue";
          }
          
          body {
            background-color: #F2F3F6;
          }
                    
          .btn-vat {
            background-color: #7171ad;
            color: #fff;
            font-size: 18px;
          }
          
          .container h2 {
            font-size: 30px;
          }
          
          .navbar-expand-md {
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          }
          
          .navbar-expand-md .bottom-nav .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
          }
          
          .nav-item.active {
            font-weight: 500;
          }
          
          .top-nav {
            font-size: 18px;
          }
          
          .top-nav .dropdown-item {
            font-size: 14px;
            font-weight: 100;
          }
          
          .bottom-nav {
            font-size: 14px;
          }
          
          .bottom-nav .dropdown-item {
            font-size: 12px;
            font-weight: 100;
          }
          
          .dropdown-menu::before {
            content: "";
            border-style: solid;
            border-width: 10px;
            width: 0;
            height: 0;
            position: absolute;
            top: -10%;
            left: 40%;
            border-top: 0;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid #fff;
            border-left: 0.5em solid transparent;
          }
          
          .dropdown-toggle::after {
            content: '\f078';
            font: 12px FontAwesome;
            vertical-align: 0.1em;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
          }
          
          .breadcrumb {
            padding: 0;
            background-color: transparent;
            font-size: 13px;
          }
          
          .breadcrumb-item a {
            color: #f56060;
          }
          
          .breadcrumb-item + .breadcrumb-item::before {
            content: "|";
          }
          
          .card {
            -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
            -webkit-transition: 0.3s;
            transition: 0.3s;
          }
          
          .card:hover {
            -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
          }
          
          .card.active {
            background-image: -webkit-gradient(linear, left top, right bottom, from(#02beee), to(#b71273));
            background-image: linear-gradient(to bottom right, #02beee, #b71273);
            -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
            color: #fff;
          }
          
          .card.active .card-img {
            border-color: #fff;
            background-color: transparent;
          }
          
          .card.vol .card-img {
            background-color: #7171ad;
            border-color: #7171ad;
          }
          
          .card.yel .card-img {
            background-color: #ebbc43;
            border-color: #ebbc43;
          }
          
          .card.lim .card-img {
            background-color: #95d140;
            border-color: #95d140;
          }
          
          .card.pink .card-img {
            background-color: #db4d79;
            border-color: #db4d79;
          }
          
          .card.org .card-img {
            background-color: #f56b24;
            border-color: #f56b24;
          }
          
          .card.gre .card-img {
            background-color: #218d12;
            border-color: #218d12;
          }
          
          .card.bro .card-img {
            background-color: #af8350;
            border-color: #af8350;
          }
          
          .card-body {
            position: relative;
            overflow: hidden;
          }
          
          .card-body h1 {
            font-weight: 400;
            font-size: 40px;
          }
          
          .card-img {
            width: 35%;
            border: 1px solid;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            padding: 15px;
            float: left;
          }
          
          .card-img img {
            width: 100%;
          }
          
          .body-text {
            clear: both;
            font-size: 16px;
          }
          
          .card-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35%;
            height: 65px;
            -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
          }
          
          .card-icon.clock {
            background: url(../../assets/img/clock_active.svg) no-repeat right bottom;
            background-size: cover;
            -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
            bottom: -5%;
            right: -5%;
          }
          
          .card-icon.file {
            background: url(../../assets/img/file.svg) no-repeat right bottom;
            background-size: cover;
          }
          
          .card-icon.share {
            background: url(../../assets/img/share.svg) no-repeat right bottom;
            background-size: cover;
          }
          
          .card-icon.license {
            background: url(../../assets/img/license.svg) no-repeat right bottom;
            background-size: cover;
            -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
          }
          
          .card-icon.bag {
            background: url(../../assets/img/bag.svg) no-repeat right bottom;
            background-size: cover;
          }
          
          .card-icon.users {
            background: url(../../assets/img/users.svg) no-repeat right bottom;
            background-size: cover;
          }
          
          .btn-more {
            background: url(../../assets/img/more.svg) no-repeat center center;
            background-size: cover;
            border-color: transparent;
          }
          
          .active .btn-more {
            background: url(../../assets/img/more_active.svg) no-repeat center center;
            background-size: cover;
            border-color: transparent;
          }
          
          @media (max-width: 991px) {
            .pdt-md-4 {
              padding-top: 1.5rem !important;
            }
            .card-img {
              width: 25%;
            }
            .form-group.flex-wrap .btn {
              width: 250px;
            }
            .mdt-md-4 {
              margin-top: 1.5rem !important;
            }
          }
          
          @media (max-width: 767px) {
            .pdt-sm-4 {
              padding-top: 1.5rem !important;
            }
            .card-icon {
              bottom: -5%;
            }
            .card-icon.clock {
              bottom: -15%;
              right: -15%;
            }
            .dropdown-menu::before {
              top: 32%;
            }
          }
          /*# sourceMappingURL=style.css.map */


          .vat-table {
			border-collapse: separate;
			border-spacing: 0 5px;
		}
		.vat-table thead th, .vat-table thead td {
			border: 0;
		}
		.vat-table thead th {
			color: #59598F;
			font-size: 15px;
		}
		.vat-table tbody td {
			border-top: 1px solid #D0D0E6;
			border-bottom: 1px solid #D0D0E6;
			vertical-align: middle;
		}
		.vat-table tbody td:nth-child(1) {
			border-left: 1px solid #D0D0E6;
		}
		.vat-table tbody td:nth-last-child(1) {
			border-right: 1px solid #D0D0E6;
		}
		.vat-table tbody tr {
			background-color: #F4F4FB;
			font-size: 15px;
		}
		.vat-table-light tbody tr, .vat-table-light tbody td, .vat-table-light tbody td:nth-last-child(1) {
			background-color: #FFF;
			border-color: transparent;
		}
		.bg-mtd {
			background-color: #A1E047;
		}
		.bg-trad {
			background-color: #02BEEE;
		}
		.bg-ovrdu {
			background-color: #F34040;
		}
		.vat-table tbody tr.bdr-mtd {
			border-left: 5px solid #A1E047;
		}
		.vat-table tbody td.bdr-trad {
			border-left: 5px solid #02BEEE;
		}
		.indicat {
			height: 12px;
			width: 12px;
			display: inline-block;
			border-radius: 50%;
		}
		.tab-serial {
			border: 1px solid #D0D0E6;
			padding: .75rem 1rem;
			background-color: #F2F3F6;
			color: #5F5F97;
			font-size: 14px;
			font-weight: 600;
		}
		.model-table thead{
			font-size: 15px;
			font-weight: 600;
			color: #59598F;
			background-color: #F2F3F6;
			border: 1px solid #D0D0E6;
		}
		.model-table tbody {
			background-color: #F4F4FB;
			color: #262627;
			font-size: 15px;
			border: 1px solid #D0D0E6;
		}
		.table-submit td, .table-submit th {
			padding: 1.5rem 1rem;
			font-size: 20px;
			vertical-align: middle;
			font-weight: 100;
		}
		.table-submit td b {
			color: #59598F;
			font-weight: 900;
		}
		.table-submit th {
			text-align: center;
			font-weight: 900;
			font-size: 25px;
			padding-left: 1.5rem;
		}
		.table-submit tr td:last-child{
			width: 10%;
			padding-right: 1.5rem;
		}
		.table-submit tr td input {
			width: 85px;
			height: 35px;
			padding-left: 1rem;
			font-weight: 900;
			font-size: 16px;
			background-color: #F2F3F6;
			border: 1px solid #B0B0B4;
		}
