		.btn {
			padding-left: 1.5em;
			padding-right: 1.5em;
			border-radius: unset;
		}
		.btn-vat {
			background-color: #7171AD;
			color: #fff;
			font-size: 18px;
		}
		.btn-vat-dark {
			background-color: #59598F;
			color: #fff;
			font-size: 18px;
		}
		.btn-upload-dark {
			background-color: #59598F;
			color: #fff;
			border-radius: 3px;
			font-weight: 100;
			padding-left: 1em;
			padding-right: 1em;
		}
		.btn-vat-light {
			background-color: #8E6BB5;
			color: #fff;
			font-size: 18px;
		}
		.btn-vat-switch {
			border: 1px solid #A657AA;
			background-color: transparent;
			font-size: 17px;
		}
		.btn-vat-switch.active {
			background-color: #A657AA;
			color: #fff;
			font-weight: 500;
		}
		.btn-vat-outline {
			border-color: #666;
			color: #666;
			background-color: transparent;
		}
		.btn-vat-green {
			border: 1px solid #157B0E;
			background-color: transparent;
			font-size: 17px;
			border-radius: .25rem
		}
		.btn-vat-green.active {
			background-color: #A1E047;
			color: #fff;
			font-weight: 500;
		}
		.btn-small {
			font-size: 14px;
			border-radius: 17px;
			padding: .25rem .75rem;
		}
		.btn-outline {
			border: 1px solid #7171AD;
			background-color: transparent;
			color: #7171AD;
			font-size: 14px;
		}
		.outline-dark {
			border-color: #262627;
			color: #262627;
		}
		.outline-vat {
			border-color: #59598F;
			color: #59598F;
		}
		.btn-search {
			background-color: #A657AA;
			color: #fff;
			padding: 0.4rem 0.6rem 0.3rem;
		}
		.btn-edit {
			padding: 0.4rem .6rem 0.3rem;
			margin-left: 1.5rem;
		}
		.btn-view {
			padding: 0.4rem 0.4rem 0rem;
			margin-left: 1.5rem;
		}
		.crd-hd-btn {
			background-color: transparent;
			border: 1px solid #F2F2FC;
			color: #F2F2FC;
			font-size: 14px;
			border-radius: 3px;
			padding: .3rem 1.75rem;
		}

		@media (max-width: 991px) {
			.form-group.flex-wrap .btn {
				width: 250px;
			}
		}
