		.navbar-expand-md {
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
		}
		.navbar-expand-md .bottom-nav .nav-link {
			padding: 1rem 1rem 0 1rem;
		}
		.nav-item.active{
			font-weight: 500;
		}
		.top-nav {
			font-size: 18px;
		}
		.top-nav .dropdown-item {
			font-size: 14px;
			font-weight: 100;
		}
		.navbar-dark .navbar-nav.top-nav .nav-link {
			color: #fff;
		}
		.bottom-nav {
			font-size: 14px;
		}
		.bottom-nav .dropdown-item {
			font-size: 12px;
			font-weight: 100;
			padding: .25rem .75rem;
		}
		.dropdown-menu::before {
			content:"";
			border-style:solid;
			border-width:10px;
			width:0;
			height:0;
			position:absolute;
			top:-10%;
			left: 40%;
			border-top: 0;
			border-right: .5em solid transparent;
			border-bottom: .5em solid #fff;
			border-left: .5em solid transparent;
		}
		.dropdown-toggle::after {
			content: '\e916';
			font: 12px 'icomoon';
			vertical-align: 0;
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
		}
		.nav-side .navbar-light .navbar-nav .nav-link {
			color: #262627;
		}
		.nav-side .navbar-light .navbar-nav .nav-item.active {
			background-color: #7171AD;
		}
		.nav-side .navbar-light .nav-item.active .nav-link {
			color: #fff;
			font-weight: 400;
		}
		.bottom-nav .dropdown-item.active, .bottom-nav .dropdown-item:active, .bottom-nav .dropdown-item:hover {
			background-color: #02BEEE;
			color: #fff;
		}
		@media (max-width: 767px){
			.nav-side {
				height: 0px;
			}
		}