		.vat-progress {
			height: 2px;
			background-color: #D0D0E6;
		}
		.vat-progress-bar {
			border: 3px solid #59598F;
		}
		.progress-group {
			border-bottom: 1px solid #F1F2F6;
		}
		.progress-title {
			font-size: 15px;
			font-weight: 600;
			color: #59598F;
		}
		.progress-value {
			font-size: 18px;
			font-weight: 400;
			color: #666;
			padding-bottom: .5rem;
		}
		.progress-value .currency {
			font-size: 25px;
			color: #157B0E;
			padding-right: .5rem;
		}