@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/font/HelveticaNeueLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/font/HelveticaNeue.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/font/HelveticaNeueBold.ttf");
  font-weight: 500;
}

html, body {
  font-family: "HelveticaNeue";
}

body {
  background-color: #F2F3F6;
}

.bg-vat {
  background: url(assets/img/backdrop.svg) no-repeat right bottom;
  background-size: cover;
}

.btn-vat {
  background-color: #7171ad;
  color: #fff;
  font-size: 18px;
}

.container h2 {
  font-size: 30px;
}

.navbar-expand-md {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-expand-md .bottom-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-item.active {
  font-weight: 500;
}

.top-nav {
  font-size: 18px;
}

.top-nav .dropdown-item {
  font-size: 14px;
  font-weight: 100;
}

.bottom-nav {
  font-size: 14px;
}

.bottom-nav .dropdown-item {
  font-size: 12px;
  font-weight: 100;
}

.dropdown-menu::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  top: -10%;
  left: 40%;
  border-top: 0;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid #fff;
  border-left: 0.5em solid transparent;
}

.dropdown-toggle::after {
  content: '\f078';
  font: 12px FontAwesome;
  vertical-align: 0.1em;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

.breadcrumb {
  padding: 0;
  background-color: transparent;
  font-size: 13px;
}

.breadcrumb-item a {
  color: #f56060;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.card {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

.card.active {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#02beee), to(#b71273));
  background-image: linear-gradient(to bottom right, #02beee, #b71273);
  -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.card.active .card-img {
  border-color: #fff;
  background-color: transparent;
}

.card.vol .card-img {
  background-color: #7171ad;
  border-color: #7171ad;
}

.card.yel .card-img {
  background-color: #ebbc43;
  border-color: #ebbc43;
}

.card.lim .card-img {
  background-color: #95d140;
  border-color: #95d140;
}

.card.pink .card-img {
  background-color: #db4d79;
  border-color: #db4d79;
}

.card.org .card-img {
  background-color: #f56b24;
  border-color: #f56b24;
}

.card.gre .card-img {
  background-color: #218d12;
  border-color: #218d12;
}

.card.bro .card-img {
  background-color: #af8350;
  border-color: #af8350;
}

.card-body {
  position: relative;
  overflow: hidden;
}

.card-body h1 {
  font-weight: 400;
  font-size: 40px;
}

.card-img {
  width: 35%;
  border: 1px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 15px;
  float: left;
}

.card-img img {
  width: 100%;
}

.body-text {
  clear: both;
  font-size: 16px;
}

.card-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 65px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.card-icon.clock {
  background: url(assets/img/clock-active.png) no-repeat right bottom;
  background-size: cover;
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg);
  bottom: -5%;
  right: -5%;
}

.card-icon.file {
  background: url(assets/img/file.png) no-repeat right bottom;
  background-size: cover;
}

.card-icon.share {
  background: url(assets/img/share.png) no-repeat right bottom;
  background-size: cover;
}

.card-icon.license {
  background: url(assets/img/license.png) no-repeat right bottom;
  background-size: cover;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.card-icon.bag {
  background: url(assets/img/bag.png) no-repeat right bottom;
  background-size: cover;
}

.card-icon.users {
  background: url(assets/img/users.png) no-repeat right bottom;
  background-size: cover;
}

.btn-more {
  background: url(assets/img/more.png) no-repeat center center;
  background-size: cover;
  border-color: transparent;
}

.active .btn-more {
  background: url(assets/img/more-active.png) no-repeat center center;
  background-size: cover;
  border-color: transparent;
}

@media (max-width: 991px) {
  .pdt-md-4 {
    padding-top: 1.5rem !important;
  }
  .card-img {
    width: 25%;
  }
  .form-group.flex-wrap .btn {
    width: 250px;
  }
  .mdt-md-4 {
    margin-top: 1.5rem !important;
  }
}

@media (max-width: 767px) {
  .pdt-sm-4 {
    padding-top: 1.5rem !important;
  }
  .card-icon {
    bottom: -5%;
  }
  .card-icon.clock {
    bottom: -15%;
    right: -15%;
  }
  .dropdown-menu::before {
    top: 32%;
  }
}
/*# sourceMappingURL=style.css.map */