		.vat-table {
			border-collapse: separate;
			border-spacing: 0 5px;
		}
		.vat-table thead th, .vat-table thead td {
			border: 0;
		}
		.vat-table thead th {
			color: #59598F;
			font-size: 15px;
		}
		.vat-table tbody td {
			border-top: 1px solid #D0D0E6;
			border-bottom: 1px solid #D0D0E6;
			vertical-align: middle;
		}
		.vat-table tbody td:nth-child(1) {
			border-left: 1px solid #D0D0E6;
		}
		.vat-table tbody td:nth-last-child(1) {
			border-right: 1px solid #D0D0E6;
		}
		.vat-table tbody tr {
			background-color: #F4F4FB;
			font-size: 15px;
		}
		.vat-table-light tbody tr, .vat-table-light tbody td, .vat-table-light tbody td:nth-last-child(1) {
			background-color: #FFF;
			border-color: transparent;
		}
		.bg-mtd {
			background-color: #A1E047;
		}
		.bg-trad {
			background-color: #02BEEE;
		}
		.bg-ovrdu {
			background-color: #F34040;
		}
		.vat-table tbody tr.bdr-mtd {
			border-left: 5px solid #A1E047;
		}
		.vat-table tbody td.bdr-trad {
			border-left: 5px solid #02BEEE;
		}
		.indicat {
			height: 12px;
			width: 12px;
			display: inline-block;
			border-radius: 50%;
		}
		.tab-serial {
			border: 1px solid #D0D0E6;
			padding: .75rem 1rem;
			background-color: #F2F3F6;
			color: #5F5F97;
			font-size: 14px;
			font-weight: 600;
		}
		.model-table thead{
			font-size: 15px;
			font-weight: 600;
			color: #59598F;
			background-color: #F2F3F6;
			border: 1px solid #D0D0E6;
		}
		.model-table tbody {
			background-color: #F4F4FB;
			color: #262627;
			font-size: 15px;
			border: 1px solid #D0D0E6;
		}
		.table-submit td, .table-submit th {
			padding: 1.5rem 1rem;
			font-size: 20px;
			vertical-align: middle;
			font-weight: 100;
		}
		.table-submit td b {
			color: #59598F;
			font-weight: 900;
		}
		.table-submit th {
			text-align: center;
			font-weight: 900;
			font-size: 25px;
			padding-left: 1.5rem;
		}
		.table-submit tr td:last-child{
			width: 10%;
			padding-right: 1.5rem;
		}
		.table-submit tr td input {
			width: 85px;
			height: 35px;
			padding-left: 1rem;
			font-weight: 900;
			font-size: 16px;
			background-color: #F2F3F6;
			border: 1px solid #B0B0B4;
		}
