@font-face {
			font-family: HelveticaNeue;
			src: url(assets/font/HelveticaNeueLight.ttf);
			font-weight: 100;
		}
		@font-face {
			font-family: HelveticaNeue;
			src: url(assets/font/HelveticaNeue.ttf);
			font-weight: 400;
		}
		@font-face {
			font-family: HelveticaNeue;
			src: url(assets/font/HelveticaNeueBold.ttf);
			font-weight: 500;
		}
		* {
			font-family: HelveticaNeue;
		}
		body{
			background-color: #F2F3F6;
			min-height: 100vh;
			position: relative;
		}
		.navbar-expand-md {
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
		}
		.navbar-expand-md .bottom-nav .nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
		}
		.nav-item.active{
			font-weight: 500;
		}
		.bg-vat {
			background: url(assets/img/backdrop.svg) no-repeat center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.container h2 {
			font-size: 30px;
		}
		.top-nav {
			font-size: 18px;
		}
		.top-nav .dropdown-item {
			font-size: 14px;
			font-weight: 100;
		}
		.bottom-nav {
			font-size: 14px;
		}
		.bottom-nav .dropdown-item {
			font-size: 12px;
			font-weight: 100;
		}
		.dropdown-menu::before {
			content:"";
			border-style:solid;
			border-width:10px;
			width:0;
			height:0;
			position:absolute;
			top:-10%;
			left: 40%;
			border-top: 0;
			border-right: .5em solid transparent;
			border-bottom: .5em solid #fff;
			border-left: .5em solid transparent;
		}
		.dropdown-toggle::after {
			content: '\f078';
			font: 12px FontAwesome;
			vertical-align: 0.1em;
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
		}
		.breadcrumb {
			padding: 0;
			background-color: transparent;
			font-size: 13px;
		}
		.breadcrumb-item+.breadcrumb-item::before {
			content: "|";
		}
		.breadcrumb-item a {
			color: #F65555;
		}
		button.btn {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
		.btn-vat {
			background-color: #7171AD;
			color: #fff;
			font-size: 18px;
			border-radius: unset;
		}
		.btn-vat-light {
			background-color: #8E6BB5;
			color: #fff;
			font-size: 18px;
			border-radius: unset;
		}
		.btn-vat-outline {
			border-color: #666;
			color: #666;
			background-color: transparent;
			border-radius: unset;
		}
		.btn-vat-green {
			border: 1px solid #157B0E;
			background-color: transparent;
			font-size: 17px;
		}
		.btn-vat-green.active {
			background-color: #A1E047;
			border: 1px solid #157B0E;
			color: #fff;
			font-weight: 500;
		}
		.form-control {
			border-radius: unset;
		}
		.card-header {
			background-color: #7171AD;
		}
		.card-header h5 {
			font-size: 17px;
			color: #fff;
			margin: 0;
		}
		.form-control {
			border-color: #D0D0E6;
		}
		.form-group p {
			font-size: 14px;
		}
		.form-group a {
			color: #59598F;
			text-decoration: underline;
		}
		.input-group-append .btn {
			padding: 0 .5rem;
			background-color: transparent;
			border-color: #ced4da;
			border-radius: unset;
			border-left: 1px solid #fff;
		}
		.page-footer {
			background-color: #A7A7AF;
			font-size: 14px;
		}
		.fixed-bottom {
			position: absolute;
		}
		form label {
			font-weight: 500;
		}
		select {
			-moz-appearance:none;
			-webkit-appearance:none;
			appearance:none;
			background: url(assets/img/down-arrow.svg) no-repeat;
			background-position: calc(100% - 10px);
			background-size: 1rem;
		}
		@media (max-width: 991px){
			.form-group.flex-wrap .btn {
				width: 250px;
			}
			.mdt-md-4 {
				margin-top: 1.5rem !important;
			}
			.fixed-bottom {
				position: relative;
			}
		}